name: PHP CI Pipeline

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: mydb
          MYSQL_USER: user
          MYSQL_PASSWORD: password
          MYSQL_ROOT_PASSWORD: rootpass
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -u root -prootpass"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
  #The database in CI is optional. 
  #It is only required when running integration or database-related tests. 
  #In my current setup, MySQL is included to support future automated tests, 
  #but it can be removed if only build validation is required.
  #but it can be removed if only build validation is required.

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: mysqli,pdo_mysql

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run tests
        run: |
          if [ -f vendor/bin/phpunit ]; then
            vendor/bin/phpunit --coverage-text
          else
            echo "No tests found, skipping"
          fi


      - name: Extract Version Tag
        id: vars
        run: |
          VERSION_TAG=$(date +'%Y%m%d%H%M%S')
          echo "VERSION_TAG=$VERSION_TAG" >> $GITHUB_OUTPUT


      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

        
      - name: Build and Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/php-app:${{ steps.vars.outputs.VERSION_TAG }}
            ${{ secrets.DOCKER_USERNAME }}/php-app:latest
        
      - name: Trigger Jenkins CD
        run: |
          curl -X POST \
          "http://${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_TOKEN }}@${{ secrets.JENKINS_URL }}:8080/job/php-app-cd/buildWithParameters?IMAGE_TAG=${{ steps.vars.outputs.VERSION_TAG }}"
